@import '../../../scss/utils.scss';

.list-action {
    
    ul {
        padding: 0px;
        list-style: none;
    }
    
    li{
        list-style: none;
        text-decoration: none;
        width: 100%;
        padding: 5px 0px;
        text-align: center;
        cursor: pointer;
        
        &:hover{
            background-color: rgba( 200, 200, 200, .5);
        }
    }
}

.container-author {
    display: flex;
    border: 1px solid #AAA;
    padding: 5px;
    border-radius: 5px;
    flex-wrap: wrap;
}
.container-data{
    @extend  %center-flex-column;
    margin: 5px 5px 5px 20px;
}